body {
    margin:0;

}
.mainContent {
    margin:0 auto;
    padding-top:10px;
    padding-left:60px;
    padding-right:60px;
}
fieldset {
    width:600px;
    border-radius:5px;
    margin-left:100px;
    margin-top:30px;
}
