/*以下为整体的CSS样式*/
.body
{
	background-color:black;
	font-family:"隶书",verdana;
	color:white;
	text-align:left;
}
.wholeWindow
{
	width:933px;
	margin:0 auto;
}
/*以下为背景区的样式信息*/
.bgWindow
{
	width:933px;
	text-align:center;
	float:top;
}
.bgWindow img
{
	width:933px;
	outline-width:0px;
	vertical-align:top;
}
.topBackground
{
	height:256px;
}
.centerBackground
{
	height:128px;
}
.footBackground
{
	height:64px;
}
.snowWindow
{
	width:933px;
	position:absolute;
	top:50px;
}
.snowWindow img
{
	float:right;
}
.title
{
	margin-top:-30px;
}
/*以下为主登录界面框的样式信息*/
.mainWindow
{
	width:933px;
	position:absolute;
	top:265px;
}
/*以下为登录框的样式信息*/
.loginWindow
{
	width:330px;
	float:left;
	margin-left:100px;
}
fieldset legend
{
	color:white;
	font-size:150%;
}
fieldset
{
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
	border-radius: 10%;
	position:relative;
	z-index:2;
	behavior: url("C:/Users/asus/Documents/Eclispe/Project2/WebContent/CSS/ie-css3.htc");
	-webkit-box-shadow: inset 0px 0px 3px 10px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0px 0px 3px 10px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 0px 3px 10px rgba(255, 255, 255, 0.3);
}
/*以下为登陆框文字的样式信息*/
div.word, span.word
{
	float:left;
	margin-left:20px;
	font-size:120%;
}
/*以下为登陆框输入框的样式信息*/
.textfield
{
	float:right;
	margin-right:20px;
	width:160px;
	color:gray;
}
.textfield2
{
	float:right;
	margin-right:20px;
	width:160px;
	color:gray;
	display:none;
}
.forget
{
	float:right;
	margin-right:20px;
	width:100px;
	text-align:right;
	text-decoration:underline;
	color:blue;
}
/*以下为登录按钮的样式信息*/
.login_pic1
{
	width:100px;
	height:15px;
	float:left;
	margin-left:20px;
}
.login_pic2
{
	width:100px;
	height:15px;
	float:right;
	margin-right:20px;
}
.loginButton
{
	color:white;
	height:30px;
	width:30px;
	border:0px;
	margin-left:18px;
}
/*以下为注册区的样式信息*/
.regWindow
{
	width:400px;
	float:right;
	margin-right:80px;
	background:url("../Reg_image/loveme.png") 50% -60px no-repeat;
	/*background-position:50% -60px;*/
}
.regWindow img
{
	-moz-transition: margin-top 2s;
	-o-transition: margin-top 2s;
	-webkit-transition: margin-top 2s;
	transition: margin-top 2s;
}
.regWindow img:hover
{
	margin-top:-5px;
}
.regImageLeft
{
	float:left;
	margin-top:50px;
}
.regImageRight
{
	float:right;
	margin-top:50px;
}
.noAccount
{
	color:rgb(223,0,118);
	font-size:150%;
	margin-bottom:20px;
	text-shadow: 0 1px 0 brown, 0 -1px 0 brown, 1px 0 0 brown, -1px 0 0 brown, 3px 3px 3px gray;
	position:relative;
	z-index:2;
	behavior: url("C:/Users/asus/Documents/Eclispe/Project2/WebContent/CSS/ie-css3.htc");
}
.regWindow div
{
	float:center;
	margin-top:60px;
	text-align:center;
}
.registerImage
{
	width:80px;
	height:80px;
	border:0px;
}
/*注册按钮高亮*/
.registerImage:hover
{
	background:gray; /* 一些不支持背景渐变的浏览器 */
	background:-moz-radial-gradient(center, white, black);
	background:-webkit-gradient(radial, center, 0, center, 30, from(white), to(black));
	background:-o-radial-gradient(center, white, black); 
}
/*以下为用户列表的样式信息*/
.nameWindow
{
	width:933px;
	position:absolute;
	top:230px;
}
/*以下为热门用户的样式信息*/
.hot
{
	width:250px;
	margin-left:60px;
	text-align:left;
	float:left;
	padding-right:5px;
}
/*以下为热门用户标题的样式信息*/
div.hotTitle
{
	margin-left:40px;
}
.hotT1
{
	float:left;
	font-size:130%;
}
.hotT2
{
	float:right;
	font-size:130%;
}
/*以下为一个热门用户的样式信息*/
div.hotOne
{
	width:250px;
	height:50px;
	float:left;
	text-align:left;
	outline-width:0px;
	vertical-align:top;
}
/*以下为热门用户排名的样式信息*/
.hot1
{
	float:left;
	margin-right:5px;
	padding-top:10px;
}
.hot1 img
{
	width:30px;
	height:30px;
}
/*以下为热门用户头像的样式信息*/
.hot2
{
	text-align:left;
	float:left;
	margin-right:5px;
}
.hot2 img
{
	width:50px;
	height:50px;
	border-width:0px;
}
/*以下为热门用户名字的样式信息*/
.hot3
{
	width:100px;
	height:30px;
	float:left;
	word-wrap:hidden;
	padding-top:10px;
}
.hot3:hover
{
	text-decoration:underline;
}
a
{
	text-decoration:none;
	color:white;
}
/*以下为热门用户粉丝数的样式信息*/
.hot4
{
	text-align:right;
	width:50px;
	float:left;
	padding-top:10px;
}
/*以下为新用户区的样式信息*/
.newWindow
{
	margin-right:60px;
	margin-top:-10px;
	float:right;
	width:200px;
}
.new
{
	width:200px;
	text-align:center;
}
.newTitle
{
	text-align:center;
	font-weight:bold;
	font-size:120%;
}
/*以下为新用户的样式信息*/
.newPerson
{
	width:200px;
	height:50px;
}
/*以下为一个新用户DIV框的样式信息*/
.newBlock
{
	float:left;
}
.newBlock2
{
	text-align:center;
}
.newBlock2 img
{
	width:50px;
	height:50px;
	text-align:center;
	border-width:0px;
}
.newBlock2 div
{
	width:100px;
	text-align:center;
	margin-top:10px;
	margin-bottom:5px;
	word-wrap:hidden;
}
.newBlock2 div:hover
{
	text-decoration:underline;
}
/*以下为新鲜事区的样式信息*/
.picWindow
{
	width:350px;
	float:right;
}
.picWindow a
{
	color:orange;
}
.titlePic
{
	color:rgb(223,0,118);
	padding-bottom:10px;
}
/*以下为新鲜事区每条微博的样式信息*/
.textWeibo
{
	border-top:dashed thin;
	margin-bottom:30px;
	padding-top:10px;
}
.picWeibo
{
	float:left;
	padding-right:10px;
}
.picWeibo img
{
	width:50px;
	height:50px;
	border-width:0px;
}
.nameWeibo
{
	float:left;
	width:280px;
}
.infoWeibo
{
	width:340px;
	height:30px;
	font-size:80%;
}
.zhuanfatime
{
	float:left;
	margin-left:60px;
}
.zhuanfa
{
	float:right;
	margin-left:5px;
}
.zhuanfa a
{
	color:orange;
}
.pic
{
	padding:20px;
	text-align:center;
	width:300px;
	height:40px;
}
.pic img
{
	width:70px;
	height:70px;
	float:left;
}
#changePic
{
	width:30px;
	height:80px;
	margin-top:-5px;
	float:left;
}
.zhuanfaweibo
{
	float:left;
	font-size:80%;
	margin-left:60px;
	background-color:gray;
	margin-bottom:5px;
}
.nameWeibo2
{
	float:left;
	width:280px;
	padding:3px;
}
/*以下为隐藏的会弹出的用户具体信息框的样式信息*/
.nameSpace
{
	width:200px;
	height:120px;
	position:absolute;
	top:100px;
	display:none;
	border-width:2px;
	border-color:white;
	background-image:url(../Reg_image/nameSpace.jpg);
	color:orange;
	padding:10px;
}
.nameSpace a
{
	float:left;
	width:40px;
	height:40px;
}
.nameSpace a img
{
	float:left;
	width:40px;
	height:40px;
}
/*以下为隐藏的会弹出的用户具体信息框名字的样式信息*/
.nameSpacen
{
	margin-left:5px;
	margin-top:10px;
	display:block;
	float:left;
}
/*以下为隐藏的会弹出的用户具体信息框等级的样式信息*/
.nameSpacej
{
	display:block;
	float:right;
	margin-top:10px;
}
/*以下为隐藏的会弹出的用户具体信息框共同好友的样式信息*/
.mutualFriends
{
	float:left;
	clear:both;
	width:200px;
}
.friend
{
	clear:both;
}
.friends
{
	float:left;
	width:40px;
	height:40px;
	font-size:70%;
	padding-bottom:10px;
}
.friends img
{
	width:20px;
	height:20px;
}
.friends div
{
	text-align:center;
	overflow:hidden;
	width:40px;
	height:10px;
}