/*以下为所有链接的样式信息*/
a
{
	color:white;
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}
/*以下为整体的样式信息*/
.body
{
	background-color:black;
	font-family:"隶书",verdana;
	color:white;
	text-align:left;
}
.wholeWindow
{
	width:933px;
	margin:0 auto;
}
/*以下为背景区的样式信息*/
.bgWindow
{
	width:933px;
	text-align:center;
	float:top;
}
.bg1
{
	width:933px;
	height:256px;
	outline-width:0px;
	vertical-align:top;
}
.bg2
{
	width:933px;
	height:128px;
	outline-width:0px;
	vertical-align:top;
}
.bg3
{
	width:933px;
	height:64px;
	outline-width:0px;
	vertical-align:top;
}
.snowWindow
{
	width:933px;
	position:absolute;
	top:50px;
}
.snow
{
	float:right;
}
.title
{
	margin-top:-30px;
}
/*以下为上部搜索区的样式信息*/
.searchWindow
{
	width:933px;
	position:absolute;
	top:210px;
}
.search
{
	float:right;
	margin-right:50px;
	height:30px;
	vertical-align:middle;
}
/*以下为搜索区输入框的样式信息*/
.search input[type="text"]
{
	margin:0px;
	height:15px;
}
/*以下为搜索区图片的样式信息*/
.searchPic
{
	width:20px;
	height:20px;
	float:right;
	margin:0px;
}
/*以下为中间的框的样式信息*/
.mainWindow
{
	width:933px;
	position:absolute;
	top:265px;
}
/*以下为中间左边微博区的样式信息*/
.weiboWindow
{
	width:550px;
	float:left;
	color:white;
	margin-left:80px;
}
/*以下是排序按钮*/
.paixu ul li
{
	list-style-type:none;
	float:left;
	margin:0px 5px;
	width:80px;
	height:50px;
}
.paixu ul li a
{
	color:orange;
}
.paixu ul li a:hover
{
	border:dashed 1px;
	text-decoration:none;
	color:rgb(223,0,118);
}
.paixu ul
{
	font-size:100%;
	height:50px;
}
/*以下是用户列表*/
.listPerson ul li
{
	list-style-type:none;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px dashed;
}
.personData
{
	float:left;
}
.listPerson ul li img
{
	width:75px;
	height:75px;
	float:left;
	padding-right:20px;
	border-width:0px;
}
.personName
{
	color:rgb(223,0,118);
}
.personFrom, .fansNum
{
	color:orange;
}
.personFrom:before
{
	content:"来自 ";
}
.fansNum:before
{
	content:" ，粉丝数 ";
}
.latest
{
	padding-top:10px;
	width:400px;
}
.Fweibo
{
	float:left;
	font-size:80%;
}
.time
{
	float:left;
}
.time:before
{
	content:"（";
}
.time:after
{
	content:"）";
}
/*以下为中间右边个人信息区的样式信息*/
.personWindow
{
	width:230px;
	height:700px;
	float:left;
	color:white;
	padding-left:10px;
	border-left:dashed thin;
}
/*以下为中间右边个人信息照片的样式信息*/
.personInfo
{
	height:100px;
}
.personPic
{
	width:100px;
	height:100px;
	float:left;
	padding-right:10px;
}
/*以下为中间右边个人信息区一些关注度统计的样式信息*/
.stat
{
	padding-top:10px;
	height:20px;
	color:rgb(223,0,118);
}
.stat span+span
{
	color:white;
}
/*以下为中间右边个人信息区下面更多信息的样式信息*/
.moreInfo
{
	padding-top:10px;
}
.name
{
	font-size:150%;
	font-family:"华文彩云";
	color:gray;
}
.from
{
	border-bottom:dashed thin;
	padding-bottom:10px;
}
.otherInfo
{
	border-bottom:dashed thin;
	padding-bottom:10px;
	padding-top:10px;
}
.otherInfo a
{
	color:blue;
}
.more
{
	color:orange;
	padding-bottom:10px;
	padding-top:10px;
	text-indent:50px;
}
/*以下为中间右边个人信息区最下面可能感兴趣的人的样式信息*/
.newWindow
{
	width:200px;
	float:right;
	margin-right:60px;
	margin-top:30px;
}
.newTitle
{
	text-align:center;
	font-weight:bold;
}
.newPerson
{
	float:top;
}
.newBlock
{
	float:left;
	margin-top:10px;
	margin-left:10px;
}
.newBlock2
{
	text-align:center;
}
.newBlock2 img
{
	width:50px;
	height:50px;
	text-align:center;
	border-width:0px;
}
.newBlock2 div
{
	width:100px;
	text-align:center;
	margin-top:10px;
	margin-bottom:5px;
	word-wrap:hidden;
}
/*以下为中间左边下部微博展示区的样式信息*/
.shejinping
{
	width:500px;
	float:left;
}
/*这是一条微博*/
.textWeibo
{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:dashed thin;
	float:left;
}
/*这是一条微博的输入框*/
.textWeibo input
{
	float:right;
}
.tongshizhuanfa
{
	float:right;
	padding-right:5px;
}
/*这是一条微博左边的头像*/
.picWeibo
{
	float:left;
	padding-right:10px;
}
.picWeibo img
{
	width:50px;
	height:50px;
	border-width:0px;
}
/*这是一条微博右边左上的名字*/
.nameWeibo
{
	float:left;
	width:410px;
	margin-bottom:10px;
}
.nameWeibo a
{
	color:orange;
}
.nameWeibo a:hover
{
	text-decoration:none;
}
/*这是一条微博右边下面的评论转发按钮*/
.infoWeibo
{
	width:410px;
	height:30px;
	font-size:80%;
	float:left;
}
.time
{
	float:left;
}
.zhuanfa
{
	margin-left:10px;
	float:right;
}
.infoWeibo2
{
	width:410px;
	height:30px;
	font-size:80%;
	float:left;
	margin-left:60px;
	padding-top:4px;
}
.zhuanfa a
{
	color:orange;
}
.zhuanfa a:hover
{
	text-decoration:none;
}
.huifu
{
	float:left;
}
/*这是一条被转发的微博的样式*/
.zhuanfaweibo
{
	float:left;
	font-size:80%;
	margin-left:60px;
	background-color:gray;
	padding:4px;
}
.nameWeibo2
{
	float:left;
	width:400px;
}
/*这是底部信息框的样式*/
.bottomWindow
{
	float:left;
	width:933px;
	text-align:center;
	padding-top:60px;
	color:gray;
	font-size:80%;
}
.bottomWindow a
{
	color:gray;
}
.bottomWindow a:hover
{
	color:orange;
	text-decoration:none;
}