/*以下为整体的样式信息*/
.static
{
	background-color:black;
	color:white;
	font-family:"隶书",verdana;
}
.wholeWindow
{
	width:933px;
	margin:0 auto;
}
/*以下为背景区的样式信息*/
.bgWindow
{
	width:933px;
	text-align:center;
	float:top;
}
.bg1
{
	width:933px;
	height:256px;
	outline-width:0px;
	vertical-align:top;
}
.bg2
{
	width:933px;
	height:128px;
	outline-width:0px;
	vertical-align:top;
}
.bg3
{
	width:933px;
	height:64px;
	outline-width:0px;
	vertical-align:top;
}
.snowWindow
{
	width:933px;
	position:absolute;
	top:50px;
}
.snow
{
	float:right;
}
.title
{
	margin-top:-30px;
}
/*以下为主注册界面的样式信息*/
.mainWindow
{
	width:933px;
	position:absolute;
	top:265px;
}
.regWindow
{
	width:520px;
	margin:0 auto;
	color:white;
	margin-right:80px;
}
.rWindow
{
	width:450px;
	float:left;
	color:white;
}
input[type="text"], input[type="password"]
{
	width:150px;
}
.headReg
{
	text-align:left;
	margin-left:100px;
}
.headName
{
	font-size:120%;
}
/*以下为左侧标签的样式信息*/
.left
{
	float:left;
	width:70px;
	text-align:right;
	padding-right:30px;
}
/*以下为右侧输入框的样式信息*/
.right
{
	float:right;
	padding-left:30px;
}
/*以下为左侧单选框的样式信息*/
.leftBox
{
	float:left;
	margin-left:5px;
}
/*以下为右侧提示文字的样式信息*/
.floatRight
{
	float:right;
}
/*以下为注册按钮的样式信息*/
.center
{
	text-align:center;
}
/*以下为右下侧去登录页面的样式信息*/
.gotoLogin
{
	float:right;
	margin-right:-290px;
	margin-top:-10px;
}
.checkInBar
{
	float:left;
	width:250px;
}