<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Project2.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>Project2.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotServlet</display-name>
    <servlet-name>HotServlet</servlet-name>
    <servlet-class>Project2.servlet.HotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotServlet</servlet-name>
    <url-pattern>/HotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchPersonServlet</display-name>
    <servlet-name>searchPersonServlet</servlet-name>
    <servlet-class>Project2.servlet.searchPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchPersonServlet</servlet-name>
    <url-pattern>/searchPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ffServlet</display-name>
    <servlet-name>ffServlet</servlet-name>
    <servlet-class>Project2.servlet.ffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ffServlet</servlet-name>
    <url-pattern>/ffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fabuWeiboServlet</display-name>
    <servlet-name>fabuWeiboServlet</servlet-name>
    <servlet-class>Project2.servlet.fabuWeiboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fabuWeiboServlet</servlet-name>
    <url-pattern>/fabuWeiboServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fabuPinglunServlet</display-name>
    <servlet-name>fabuPinglunServlet</servlet-name>
    <servlet-class>Project2.servlet.fabuPinglunServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fabuPinglunServlet</servlet-name>
    <url-pattern>/fabuPinglunServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>haoyouServlet</display-name>
    <servlet-name>haoyouServlet</servlet-name>
    <servlet-class>Project2.servlet.haoyouServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>haoyouServlet</servlet-name>
    <url-pattern>/haoyouServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>zhuanfaServlet</display-name>
    <servlet-name>zhuanfaServlet</servlet-name>
    <servlet-class>Project2.servlet.zhuanfaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zhuanfaServlet</servlet-name>
    <url-pattern>/zhuanfaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>quitServlet</display-name>
    <servlet-name>quitServlet</servlet-name>
    <servlet-class>Project2.servlet.quitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quitServlet</servlet-name>
    <url-pattern>/quitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPicServlet</display-name>
    <servlet-name>addPicServlet</servlet-name>
    <servlet-class>Project2.servlet.addPicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPicServlet</servlet-name>
    <url-pattern>/addPicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getFriendServlet</display-name>
    <servlet-name>getFriendServlet</servlet-name>
    <servlet-class>Project2.servlet.getFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFriendServlet</servlet-name>
    <url-pattern>/getFriendServlet</url-pattern>
  </servlet-mapping>
</web-app>